.Drop-down-top{
    display: flex;
    color: rgba(255, 255, 255, .75);

    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.Drop-down-top ul {
    list-style-type: none;
    z-index: 1;
    padding-left: 0;
    margin: 0;
    max-height: 99px;   
    overflow-y: auto;
    scrollbar-width: none;

    width: 100%;
    cursor: pointer;

}



.Drop-down-top li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 100%;

    
}
.Drop-down-top li:hover{
    background-color: rgb(216, 232, 249);

    
}

.Drop-down-top li:first-child{
    border-radius: .5rem .5rem 0 0 ;
}

.Drop-down-top li:last-child{
    border-radius: 0 0 .5rem .5rem ;
}



.drop-down-list-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 55%;

}

.drop-down-list-name{
    display: none;
}
