.pending{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15%;
}
.leaderboards{
    width:100%;
    height: 100%;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    background-color: var(--background-color);
    
}

.leaderboards-header{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 15%;
    min-height: 100px;
    margin-bottom: 6px;
}

.leaderboards-title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 24px;

}

.leaderboards-title span{
    margin-left: 15%;
}

.leadersboards-subheading1{
    display: flex;
    height: 40%;
    font-size: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--profile-card-color);

}

.leadersboards-subheading1-div1{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: right;
    display: flex;
    padding-right: 0.25%;
}
.leadersboards-subheading1-div2{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: left;
    display: flex;
}

.leadersboards-subheading1 button{
    display: flex;
    width: 100%;
    max-width: 120px;
    height:80%;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border-style: none;
    border-radius: .25rem;
}

.leadersboards-subheading1 button:hover{
    background-color: #41416b;

}

.solo{
    width: 100%;;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}

.flex{
    width: 100%;;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}


.leaderboards-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 10%;
    min-width: 120px;
    font-size: 14px;

  
}
.leaderboards-section1 button{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    border: 0;
    width: 75%;
    height:100%;
    z-index: 1;
}
  
.leaderboards-section1 button:hover{
    background-color: #41416b;
}

.leaderboards-drop-down{
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 75%;
    z-index: 2;
    background-color: #41416b;
    border-radius: .50rem;
  
}


.leaderboards-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;

}

.leaderboards-outlet{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leaderboards-page-navigation{
    background-color: var(--profile-card-color);
    display: grid;

    width: 100%;
    grid-template-columns: repeat(3, 1fr) .25fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    font-family: 14px;
}

.button{
    background-color: transparent;
    border:none;
    color: white;
    border-radius: .25rem;
}

.leaderboards-page-prev{
    display: flex;
    grid-area: 1/3/2/4;
    background: transparent;
    justify-content: right;
    align-items: center;
    border: none;
    color: white;
    font-weight: 500;
}

.leaderboards-page-next{
    display: flex;
    grid-area: 1/5/2/6;
    background: transparent;
    justify-content: left;
    align-items: center;
    border: none;
    color: white;
    font-weight: 500;
}

.leaderboards-page-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/4/2/5;
    flex-direction: row;
}

@media(max-width: 600px){
   
    .leadersboards-subheading1 button{
        width: 100%;
    }
  
}

@media (max-width: 320px) {
    .leaderboards-section1{
        min-width: 50px;
        flex-grow: 1;
    }

    .leadersboards-subheading1-div1{
        min-width: 95px;
    }
    .leadersboards-subheading1-div2{
        min-width: 95px;
    }

    .leaderboards-drop-down{
        position: fixed;
        top: 25%;
        left: 12.5%;

        .Drop-down-top ul{
            max-height: unset;
        }
    }

}





